@import-normalize;
@import url("https://use.typekit.net/auq2lvd.css");

body {
  letter-spacing: 1px;
  font-family: freight-sans-pro, sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #fafafa;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h1 {
  margin: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: freight-neo-pro, serif;
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  color: rgba(0,0,0,0.5);
  transition: 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  margin: 50px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) {
  .container {
    height: 325px;
    flex-direction: row;
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

@media (min-width: 1355px) {
  .container {
    width: 1200px;
    flex-direction: row;
  }
}

@media (min-width: 1100px) and (max-width: 1354px) {
  .container {
    width: 1000px;
    flex-direction: row;
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  .container {
    width: 850px;
    flex-direction: row;
  }
}