.navbar {
    width: 100%;
    margin-bottom: 35px;
}

.navbarInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    margin-top: 15px;
    margin-right: 15px;
}

.link:last-child {
    margin-right: 0;
}

.activeLink {
    composes: link;
    color: #73965c;
    font-style: italic;
}

@media (min-width: 900px) {
    .navbar {
        width: 20%;
        margin-bottom: 0;
    }

    .navbarInner {
        width: 140px;
        height: 325px;
        flex-direction: column;
        text-align: left;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .link {
        margin-right: 0;
    }

    .activeLink {
        margin-left: 4px;
    }
}